{% extends "base.html" %}
{% block title %}Сброс пароля прошёл успешно{% endblock %}

{% block content %}
<div class="form-container">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="form__info-text">Сброс пароля прошёл успешно</div>
            <div class="form__group">
                <p>Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}