{% extends "base.html" %} 
{% block title %} Подписки {% endblock %}

{% block content %}
    
    <div class="container">

        {% include "menu.html" with index=True %}

        <h1> Библиотека постов подписок</h1>
            <!-- Вывод ленты записей -->
                {% for post in page %}
                <h3>
                  Автор: {{ post.author.get_full_name }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
                </h3>
                
                    {% include "post_item.html" with post=post %}
                {% endfor %}
        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
    </div>

{% endblock %}