{% extends "base.html" %}
{% block title %} Записи сообщества {{ group.title }} {% endblock %} 
{% block content %} 
 
    <div class="container">
         <!-- Вывод ленты записей --> 
    <h1>{{ group.title }}</h1> 
    <p> 
        {{ group.description }} 
    </p> 

             {% for post in page %}
             <h3>
               Автор: {{ post.author.get_full_name }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
             </h3>
             
                 {% include "post_item.html" with post=post %}
             {% endfor %}
 </div>

    
    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}

{% endblock %} 